<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['books']">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['books/list']">Book List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['books/author-entry']">Author Entry</a>
  </li>

  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['books/author-editor']">Author Editor</a>
  </li>
</ul>
